# Cache
__pycache__/

# IDE-related files
.idea/
.vscode/

# Virtual environments
venv/

# Django
migrations/
db.sqlite3

# Documentation
docs/build/

# Environment Files
.env
.env.db

# SSL
nginx/my_key.pem
nginx/my_cert.pem
